<body>
  <div class="login-page">
    <div class="form">
      <form (submit)="onLogin()" #theForm="ngForm">

        <div class="text-danger" *ngIf="UserName.invalid && UserName.touched && UserName.errors.required">Username is required!</div>
        <input type="text" name="UserName" placeholder="Username" [(ngModel)]="creds.UserName" #UserName="ngModel" required>
        
        <div class="text-danger" *ngIf="password.invalid && password.touched && password.errors.required">Password is required!</div>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="creds.password" #password="ngModel" required>
        
        <button type="submit"[disabled]=theForm.invalid>Login</button>
        <p class="message">Not registered? <a routerLink="register">Create an account</a></p>
      
      </form>
    
    </div>
  </div>
  </body>
  