<body>
  <div class="parallax">
    <h1 style="color:white"><b>ABOUT US</b></h1>
  </div>
  <div style="height:2250px;background-color:whitesmoke;font-size:36px">
  <div class="move" style="margin-right:2%">
    <div style="margin-left:20px">
    <br>
    <br>
    <h2>Our Mission</h2>
    <p class="pbig">MAFA! Make America Fit Again! This was the defining mission of Strength Sheets. We hope that this application will serve as a resource to enhance peoples' lives in fitness and in health.</p>
    <br>
    <h2>The Team</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail" style="min-height:255px">
          <img alt="Team member" src="../../assets/keefer.png" style="border-radius: 4px;" class="centeredimg">
          <div class="caption"><h5>Alex Keefer</h5></div>
          <div class="subcaption"><p>"The Braun"</p></div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="thumbnail" style="min-height:255px">
            <img alt="Team member" src="../../assets/john.png" style="border-radius: 4px;" class="centeredimg">
            <div class="caption"><h5>John Woods</h5></div>
            <div class="subcaption"><p>"The Braun"</p></div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" style="min-height:255px; max-height:600px">
              <img alt="Team member" src="../../assets/bryan.png" style="border-radius: 4px;" class="centeredimg">
              <div class="caption"><h5>Bryn Bell</h5></div>  
              <div class="subcaption"><p>"The Scrawn"</p></div> 
            </div>
          </div>
    </div> 
    <div class="row">
        <div class="col-md-3">
          <div class="thumbnail" style="min-height:255px">
            <img alt="Team member" src="../../assets/brett.png" style="border-radius: 4px;" class="centeredimg">
            <div class="caption"><h6>Brett Brunswick</h6></div>
            <div class="subcaption"><p>"The Braun"</p></div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" style="min-height:255px">
              <img alt="Team member" src="../../assets/keaton.png" style="border-radius: 4px;" class="centeredimg">
              <div class="caption"><h6>Keaton Wineman</h6></div>
              <div class="subcaption"><p>"The Braun"</p></div>
            </div>
        </div>
    </div> 
    <br>
    <h2>Our API</h2>
    <img src="../../assets/apimap.png" align="centered" style="max-height:600px">
    <br>
    <br>
    <h2>Our Sitemap</h2>
    <img src="../../assets/sitemap.png" align="centered" style="max-height:600px">
    </div>
    </div>
     </div>
</body>