<body>
  <div class="parallax">
    <h1 style="color:white"><b>ABOUT US</b></h1>
  </div>
  <div style="height:1000px;background-color:whitesmoke;font-size:36px">
    <div style="margin-left:20px">
    <br>
    <br>
    <h2>Our Mission</h2>
    <br>
    <h2>The Team</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail" style="min-height:255px">
          <img alt="Team member" src="../../assets/keefer.png" style="border-radius: 4px;" class="centeredimg">
          <div class="caption"><h4>Alex Keefer</h4></div>
          <div class="subcaption"><p>"The Braun"</p></div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="thumbnail" style="min-height:255px">
            <img alt="Team member" src="../../assets/john.png" style="border-radius: 4px;" class="centeredimg">
            <div class="caption"><h4>John Woods</h4></div>
            <div class="subcaption"><p>"The Braun"</p></div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" style="min-height:255px; max-height:600px">
              <img alt="Team member" src="../../assets/bryan.png" style="border-radius: 4px;" class="centeredimg">
              <div class="caption"><h4>Bryn Bell</h4></div>  
              <div class="subcaption"><p>"The Scrawn"</p></div> 
            </div>
          </div>
    </div> 
    <div class="row">
        <div class="col-md-3">
          <div class="thumbnail" style="min-height:255px">
            <img alt="Team member" src="../../assets/brett.png" style="border-radius: 4px;" class="centeredimg">
            <div class="caption"><h5>Brett Brunswick</h5></div>
            <div class="subcaption"><p>"The Braun"</p></div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail" style="min-height:255px">
              <img alt="Team member" src="../../assets/keaton.png" style="border-radius: 4px;" class="centeredimg">
              <div class="caption"><h5>Keaton Wineman</h5></div>
              <div class="subcaption"><p>"The Braun"</p></div>
            </div>
        </div>
    </div> 
    <br>
    <h2>Our API</h2>
    <br>
    <h2>Our Sitemap</h2>
    </div>
    </div>
</body>