<form>
  <h1>
Log Your Workout...
  </h1>
  <div>
    <div>
      <label for='exercise'>Lift</label>
      <input type='text' id='exercise' placeholder="Ex. Bench Press" required/>
    </div>
    <div>
      <label for='weight'>Weight</label>
      <input type='text' id='weight' placeholder="Ex. 225" required/>
    </div>
    <div>
      <label for='reps'>Repetitions</label>
      <input type='text' id='weight' placeholder="Ex. 10"/>
    </div>
    <div>
        <button type='submit'>Submit</button>
    </div>
  </div>
</form>