<div class="form modal-content" style="display:none">
  <form #postExerciseForm="ngForm" (ngSubmit)="OnSubmit(postExerciseForm); postExerciseForm.resetForm()">
        <div class="modal-header"> 
          <h2>Add Exercise</h2> 
        </div> 
        <div class="modal-body"> 
          <input type="text" name="ExerciseDate" placeholder="Date" #ExerciseDate="ngModel" [(ngModel)]="postExercise.ExerciseDate" required>
          <select required name="exercise" #exercise="ngModel"  class="form-control" [(ngModel)]="postExercise.exercise">  
            <option value="" selected>Please select an Exercise</option>  
            <option *ngFor="let exercise of exercises"  
              [ngValue]="exercise.name">  
          {{exercise.name}}  
            </option>  
          </select>  
              
          <input type="text" name="weight" placeholder="Weight" #weight="ngModel" [(ngModel)]="postExercise.weight" required>

          <input type="text" name="reps" placeholder="Reps" #reps="ngModel" [(ngModel)]="postExercise.reps" required>

          <input type="text" name="sets" placeholder="Sets" #sets="ngModel" [(ngModel)]="postExercise.sets" required>
          
        </div>
        <div class="modal-footer"> 
          <button type="submit"[disabled]=postExercise.invalid>Log</button>
        </div>
  </form>
</div>

  <body>
    <div class="col-lg-4" *ngFor="let exerciseInstances of exerciseInstances">
      {{exerciseInstances.exercise.name}}
    </div>
  </body>