<form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <h1>
  Create Profile
  </h1>
  <div>
    <div>
      <label for='firstName'>First Name</label>
      <input type='text' name='firstName' #firstName="ngModel" [(ngModel)]="newUser.firstName"/>
    </div>
    <div>
      <label for='lastName'>Last Name</label>
      <input type='text' name='lastName' #lastName="ngModel" [(ngModel)]="newUser.lastName">
    </div>
    <div>
      <label for='Email'>Email</label>
      <input type='text' name='Email' #Email="ngModel" [(ngModel)]="newUser.Email">
    </div>
  
    <div>
        <label for='UserName'>Username</label>
        <input type='text' name='UserName' #UserName="ngModel" [(ngModel)]="newUser.UserName" required/>
      </div>
    <div>
        <label for='Password'>Password</label>
        <input type='password' name='Password' #Password="ngModel" [(ngModel)]="newUser.Password"/>
    </div>
    <div>
        <button type='submit'>Submit</button>
    </div>
  </div>
</form>