<form>
  <h1>
  Create Profile
  </h1>
  <div>
    <div>
      <label for='fname'>First Name</label>
      <input type='text' id='fname' placeholder="Ex. John"/>
    </div>
    <div>
      <label for='lname'>Last Name</label>
      <input type='text' id='lname' placeholder="Smith"/>
    </div>
    <div>
      <label for='gender'>Gender</label>
      <div style='margin-top:6px; margin-bottom:10px;'>
        <input type="radio" name="gender" value="male" checked> Male
        <input type="radio" name="gender" value="female"> Female
        <input type="radio" name="gender" value="other"> Other
      </div>
    </div>
    <div>
      <label for='weight'>Weight</label>
      <input type='text' id='weight' placeholder="200 lbs"/>
    </div>
    <div>
        <label for='username'>Username</label>
        <input type='text' id='username' placeholder="SmithJ7"/>
      </div>
    <div>
        <label for='password'>Password</label>
        <input type='text' id='password' placeholder="********"/>
    </div>
  </div>
</form>